body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: bisque;
}

a {
  color: #00B7FF;
}

#dataFile, #attrFile{
    opacity: 0;
    display: none;
}

#dataFileLbl{
    margin-top: 6px;
    margin-right: 15px;
}

#attrFileLbl{
    margin-top: 6px;
    margin-left: 15px;
}

.fileLbl{
    padding: 4px;
    border: 3px solid black;
    border-radius: 10px;
    background: lightcoral;
    color: black;
}

#title{
    color:blue;
    padding-bottom: 15px;
    
}

.hrStyle{
   background-color: black;
   height: 3px;
   padding: 1px;
}

#titleDiv > h1{
    display: inline-flex;
}

#name{
    float: right;
}

#titleDiv {
    text-align: center;
    padding-left: 14rem;
}

table tr td{
    padding: 5px;
    border: 3px solid rgb(0, 2, 97);
}

table th{
    padding: 10px;
    border: 3px solid rgb(0, 2, 97);
    color: brown;
}

#tables, #tree{
    text-align: center;
}

table{
    display: inline-block;
    padding: 5px;
}

#gains{
    display: inline;
}

.winner{
    color: blue;
}

h3{
    margin-top: 20px;
    color: solid black;
   
}

.branch2{
    display: inline-block;
    padding: 7px;
}

.branch{
    display: flex;
}

.treeStyle{
    width: 335px;
    height: 160px;
}

.node {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    border: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px;
    padding-bottom: 0px; 
    background-color: brown;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.node-desc{
    color: yellow;
}

.node-title{
    color: greenyellow;
}