body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: bisque;
}

a {
  color: #00B7FF;
}

#dataFile, #attrFile{
    opacity: 0;
    display: none;
}

#dataFileLbl{
    margin-top: 6px;
    margin-right: 15px;
}

#attrFileLbl{
    margin-top: 6px;
    margin-left: 15px;
}

.fileLbl{
    padding: 4px;
    border: 3px solid black;
    border-radius: 10px;
    background: lightcoral;
    color: black;
}

#title{
    color:blue;
    padding-bottom: 15px;
    
}

.hrStyle{
   background-color: black;
   height: 3px;
   padding: 1px;
}

#titleDiv > h1{
    display: inline-flex;
}

#name{
    float: right;
}

#titleDiv {
    text-align: center;
    padding-left: 14rem;
}


table tr td{
    padding: 5px;
    border: 3px solid black;
   
}
table th{
    padding: 10px;
    border: 3px solid black;
}
#table{
    text-align: center;
}
